{% extends 'layout.html' %}

{% block head %}
    <title> Home Page </title>

{% endblock %}


{% block body %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Dicionário Médico Digital</h1>
        <p class="col-md-8 fs-4">Bem-vindo ao portal de conceitos médicos processados digitalmente. Explore a nossa base de dados para entender melhor a terminologia clínica.</p>
        <hr class="my-4">
        <p>Atualmente, o nosso sistema conta com <strong>{{total}}</strong> conceitos registados.</p>
        <a class="btn btn-primary btn-lg" href="/conceitos">Ver Todos os Conceitos</a>
    </div>
</div>
{% endblock %}
